$base-color: #2672FF;
$bg-blue: #409EFF;
$bg-red: #F4333C;
$bg-red-deep: #DE4A01;
$bg-green: #43A649;
$bg-gray: #F5F5F9;
$bg-gray-deep: #80807d;
$bg-orange: #FF5000;
$bg-night-head: #1C2127;
$bg-night-content: #101419;
$color-main: #303133;
$color-normal: #606266;
$color-info: #909399;
$color-placeholder: #C0C4CC;
$color-active: #e8e8e8;

$border-main: #DCDFE6;
$border-normal: #E4E7ED;
$border-info: #EBEEF5;
$border-placeholder: #F2F6FC;

